<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}" />
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script defer th:src="@{/js/script.js}"></script>

    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <meta charset="UTF-8">
    <title>Register Student</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navigation"></nav>
<div class="container">
    <div class="card mt-4 mb-3 border-primary">
        <h4 class="bg-light text-primary card-header">Register Student:</h4>
        <div th:replace="fragments/student_view_header :: student_view_header"></div>
        <div class="card-body">
            <form th:action="@{/students/process}" action="#" method="post" th:object="${form}">
                <div class="form-row">
                    <div class="col-sm-6 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Full name</span>
                            </div>
                            <input class="form-control" type="text" id="name" placeholder="Write your full name here..." th:field="*{name}"/>
                        </div>
                        <div th:if="${#fields.hasErrors('name')}">
                            <ul class="p-0">
                                <li th:each="err : ${#fields.errors('name')}">
                                    <span class="form-error" th:text="${err}"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Email</span>
                            </div>
                            <input class="form-control" type="email" id="email" placeholder="Enter your email address..." th:field="*{email}"/>
                        </div>
                        <div th:if="${#fields.hasErrors('email')}">
                            <ul class="p-0">
                                <li th:each="err : ${#fields.errors('email')}">
                                    <span class="form-error" th:text="${err}"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                            <span class="input-group-text">Address:</span>
                        </div>
                            <textarea class="form-control" id="address" name="address" placeholder="Enter your address here..."  th:field="*{address}"></textarea>
                        </div>
                        <div th:if="${#fields.hasErrors('address')}">
                            <ul class="p-0">
                                <li  th:each="err : ${#fields.errors('address')}">
                                    <span class="form-error" th:text="${err}"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="btn-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>

    </div>

</div>


</body>
</html>