<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}" />
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script defer th:src="@{/js/script.js}"></script>

    <meta charset="UTF-8">
    <title>Courses View</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navigation"></nav>
<div class="container">
    <div class="card mt-4 mb-3 border-primary">
        <div th:if="${message}">
            <div th:replace="fragments/search_alert :: search_alert(message = ${message})"></div>
        </div>
        <h4 class="bg-light text-primary card-header">Courses:</h4>
        <nav th:replace="fragments/course_view_header :: course_view_header"></nav>
        <div class="card-body">
            <div th:if="${courses == null || courses.isEmpty()}">
                <span>Could not find any courses</span>
            </div>
            <div th:unless="${courses == null || courses.isEmpty()}">
                <table th:replace="fragments/course_table :: course_table(courses = ${courses})"></table>
            </div>
            <div class="d-flex flex-row-reverse">
                <a class="btn btn-success" href="#" th:href="@{/courses/create}">Register Course</a>
            </div>
        </div>
    </div>


</div>

</body>
</html>