<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}" />
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script defer th:src="@{/js/script.js}"></script>

    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <meta charset="UTF-8">
    <title>Course view</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navigation"></nav>
<div class="container">
    <div class="card mt-4 mb-3 border-primary">
        <h4 class="bg-light text-primary card-header" th:text="${course.courseName}"></h4>
        <nav th:replace="fragments/course_view_header :: course_view_header"></nav>
        <div class="card-body">
            <h5 class="card-header mb-2">Course details:</h5>
            <div class="d-md-flex flex-row mb-3">
                <div class="col-md-2 bg-light shadow-sm" >
                    <span>Course name:</span>
                </div>
                <div class="col-md-10 border border-light shadow-sm">
                    <span th:text="${course.courseName}"></span>
                </div>
            </div>
            <div class="d-md-flex flex-row mb-3">
                <div class="col-md-2 bg-light shadow-sm" >
                    <span>Start date:</span>
                </div>
                <div class="col-md-10 border border-light shadow-sm">
                    <span th:text="${course.startDate}"></span>
                </div>
            </div>
            <div class="d-md-flex flex-row mb-3">
                <div class="col-md-2 bg-light shadow-sm" >
                    <span>Duration in weeks:</span>
                </div>
                <div class="col-md-10 border border-light shadow-sm">
                    <span th:text="${course.weekDuration}"></span>
                </div>
            </div>
            <div class="d-md-flex flex-row mb-3">
                <a class="btn btn-outline-primary mr-3" th:href="@{/courses/{id}/update (id = ${course.id})}">Update</a>
                <form th:action="@{/courses/{id}/delete (id = ${course.id})}" method="post">
                    <button class="btn btn-outline-danger" type="submit">Delete</button>
                </form>
            </div>

            <h6 class="card-header mb-2">Enrolled students:</h6>
            <div class="mb-2" th:if="${course.students == null || course.students.isEmpty()}">
                <span>No students enrolled yet</span>
            </div>
            <div class="mb-2" th:unless="${course.students == null || course.students.isEmpty()}">
                <table th:replace="fragments/student_table :: student_table(students = ${course.students})"></table>
            </div>
            <div class="d-md-flex flex-row">
                <a class="btn btn-primary" th:href="@{/courses/{id}/enrollment (id = ${course.id})}">Manage</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>